body {
    font: 14px Comic Sans MS, Verdana, sans-serif;
}
caption {
    font-size: 140%;
}
table{
    border-collapse: collapse;
    border: 3px solid grey;
}
th, td{
    border: 1px solid grey;
    padding: 3px;
}